html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    
}

@font-face{
    font-family: "Roboto";
    src:url(fonts/Roboto-Regular.ttf)
}
.navycontainer {
background-color: #1F2937;
height: 500px;

}

.header{
 color: #F9FAF8;
 font-size: 24px; 
 font-family: "Roboto"; 
 font-weight:bold;
 position:absolute;
 margin-top: 15px;
 left:150px; 
 
}

.link {
color: #E5E7EB;
font-family: "Roboto";
font-size: 18px;
font-weight:lighter;

}
.links{
display:flex;
gap:16px;
position:absolute;
margin-top: 15px;
right:100px; 
}

#maintext{
font-family: "Roboto";
font-size: 48px;
font-weight:bolder;
color: #F9FAF8;
position:absolute;
left:150px;
top:180px;

}

.secondarytext{
position:absolute;
left:150px;
top:300px;
color: #E5E7EB;
font-family: "Roboto";
font-size: 18px;
font-weight:lighter;
}

.signbutton{
background-color: #3882F6; /* Green */
border-radius: 8px 8px 8px 8px;;
color: white;
padding: 5px 32px;
text-align: center;
font-family: "Roboto";
font-size: 16px;

font-weight:bold;
}
.pos{
    position:absolute;
    left:150px;
    top:400px;
    border:none;
}

.info div{
 position:absolute;   
 top:550px;
 font-family: "Roboto";
 font-size: 36px;
 font-weight:bolder;
 color: #1F2937;
 
 
}
.info{
display: flex;
justify-content: center;
  
}
.imgcontainer{
    justify-content: space-evenly;
    display:flex;
    height: 300px;
    margin-top: 150px;
}
.imgs{
    width:200px; 
    height:300px;
}
.textcontainer{
    justify-content: space-evenly;
    display:flex;
    height: 70px;
    margin-top: 0px;
}
.textsmall{
    padding: 10px;
    font-family: "Roboto";
    font-size: 16px; 
    height: 100px;
    text-align: center;
    width:200px;
    color: #1F2937;
    
}
.footer{
text-align: center;
height: 100px;
width: 100%;
top: 2000px;
border-radius: 0px;
padding: 30px 0;
display: flex;
justify-content: center;
position: absolute;
background: #1F2937;
color:white;
}
.actioncontainer{
    display:flex;
    width:100%;
    height:500px;
    margin-top:0px;
    align-items:center;
    justify-content: center;
}

.actionbox{
    
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #3882F6;;
    height: 150px;
    width: 1000px;
    border-radius: 20px;
    
}


.pos2{
    margin-left: 200px ;
    margin-top:40px;
    border: 2px solid #fafdfa;
}

.textbluebox{
    font-family: "Roboto";
    font-size: 15px;
    color:white;
    margin-top: 10px;
    margin-left: 50px;
    
   
}

.graybox{
background-color: #E5E7EB;
height: 400px;
display:flex;
margin-top: 200px;
align-items: center;
justify-content: center;

}

.quotetext{
    font-family: "Roboto";
    font-size: 36px;
    color: #1F2937;
    height:300px;
    width:500px;
}





